html,
body {
  font-size: 18px;
  font-family: Helvetica;
}

h1,
h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* borders for arrangement */
div {
  border: 1px solid Red;
}

/* Logo section */

.top {
  width: 100%;
  background-color: Black;
  align-content: center;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  color: White;
  align-items: center;
  width: 960px;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0rem 0.5rem;
}

.logo h2 {
  padding: 0.66rem 0.5rem;
}

/* Banner section */

.banner {
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.middle {
  width: 960px;
  height: 100%;
}
.news {
  background-color: Black;
  width: 20rem;
  margin-top: 9rem;
  padding-left: 3rem;
  color: White;
  font-weight: bold;
}

.news h2 {
  padding-top: 2rem;
  padding-bottom: 0rem;
}

h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

/* navigation section */

.menu {
  width: 100%;
  background-color: Firebrick;
  display: flex;
  justify-content: center;
}

.nav {
  width: 960px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.nav a {
  color: White;
}

/* Products section */

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.products {
  width: 960px;
  display: inline-flex;
  justify-content: space-between;
}

.box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid Black;
  justify-content: space-between;
}

.box img {
  max-height: 9rem;
  max-width: 100%;
  padding: 2rem;
  border: 1px dotted blue;
}

.box h3 {
  background-color: Black;
  text-align: center;
  padding: 0.5rem 0rem;
  color: White;
  width: 100%;
}
