
/* borders for arrangement
div {
  border: 1px solid Red;
}

.image img {
  border: 1px dotted blue;
}
*/

html,
body {
  font-size: 18px;
  font-family: Helvetica;
}

h1,
h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: White;
}

/* Logo section */

.top {
  width: 100%;
  background-color: Black;
  align-content: center;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  color: White;
  align-items: center;
  width: 960px;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0rem 0.5rem;
}

.logo h2 {
  padding: 0.66rem 0.5rem;
}

/* Banner section */

.banner {
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.middle {
  width: 960px;
  height: 100%;
}
.news {
  background-color: Black;
  width: 20rem;
  margin-top: 9rem;
  padding-left: 3rem;
  color: White;
  font-weight: bold;
}

.news h2 {
  padding-top: 2rem;
  padding-bottom: 0rem;
}

h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
}

/* navigation section */

.menu {
  width: 100%;
  background-color: Firebrick;
  display: flex;
  justify-content: center;
}

.nav-desktop {
  width: 960px;
  padding: 0.75rem 0;
}

.nav-desktop ul {
  display: flex;
  justify-content: space-between;
}

.nav-small {
  display: none;
}
/* Products section */

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.products {
  width: 960px;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid Black;
  justify-content: space-between;
}

.image {
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image img {
  max-height: 9rem;
  max-width: 9rem;
}

.box h3 {
  background-color: Black;
  text-align: center;
  padding: 0.5rem 0rem;
  color: White;
  width: 100%;
}

/* Contact section */

#contact {
  width: 960px;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.contact {
  width: 35%
}

.contact h3 {
  max-width: 100%;
  background-color: Black;
  color: White;
  padding: 1rem 2rem;
}

/* Footer section */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: Black;
  align-content: center;
  margin-top: 4rem;
}

.copy {
  width: 960px;
  color: White;
  padding: 2rem 0rem;
}

/* Tablet version */

@media only screen and (max-width: 1024px) {
  .nav-desktop {
    display: none;
  }

  #watch {
    display: none;
  }

  .products,
  #contact {
    width: 100%;
  }

  .box {
    width: 47%;
  }

  .nav-small {
    display: block;
    padding: 0.75rem 0;
  }
}

/* Phone version */
@media only screen and (max-width: 730px), (orientation: portrait) {

  body {
    font-size: 1.5rem;
  }

  .logo {
    justify-content: center;
  }

  .banner {
    height: 15rem;
  }

  .middle {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .news {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 0rem;
    padding-left: 2rem;
  }

  .news h2 {
    font-size: 0.77rem;
    padding-top: 1rem;
  }

  h1 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .products {
    justify-content: center;
  }

  #glasses {
    display: none;
  }

  .box {
    width: 90%;
  }

  #contact {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  .contact {
    width: 90%;
    margin-top: 0.5rem;
  }

  .copy {
    text-align: center;
  }
